* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  padding: 100px 10%;
}

li {
  list-style: none;
}

.linkStyle {
  text-decoration: underline;
  color: rgb(51, 51, 201);
  font-weight: 700;
}

.components {
  margin-top: 50px;
}

.navbar ul {
  display: flex;
  gap: 20px;
}
